In [ ]:
m = 0
x = 1
while x < 4:
    y = 1
    while y < 5:   
        m = m + y
        y = y + 1
        if x + y == 5:
            break
    x = x + 1
print (m)

In [ ]:
m = 0
x = 10
while x > 8:
    for y in range(1,3):
        m = m + 1
    x = x - 1
print(m)

In [ ]:
m = 0
my_str_1 = "university"
my_str_2 = "mississipy"
for char_1 in my_str_1:
    for char_2 in my_str_2:
        if char_1 == char_2:
            m = m + 1
print(m)

1. Write a program that finds the Fibonacci series for a given number.
<br> A Fibonacci sequence is the integer sequence of 0, 1, 1, 2, 3, 5, 8.... The first two terms are 0 and 1. All other terms are obtained by adding the preceding two terms. This means to say the nth term is the sum of (n-1)th and (n-2)th term
<br> for example the Fibonacci sequence up to 10 is: 0 1 1 2 3 5 8 13 21 34

2. write a program to compute the prime factors of a given number.
+ for example if you enter 10, it prints out 2 and 5

3. Write a Python program to construct the following pattern:

 * 
 * * 
 * * * 
 * * * * 
 * * * * * 
 * * * * 
 * * * 
 * * 
 *

4. Write a Python program to construct the following pattern:

1 2 3 4 5 
1 2 3 4 
1 2 3 
1 2 
1

5. Write a Python program to construct the following pattern:


     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

6. Write a program that finds the maximum number in this list:
+ my_list = [1, 5, 8, 9, 11, 14, 19, 12]

7. write a program to repeat each item in the list 6 times:

My_list = ["hello", "world", "Aug", 2021]

The output should be like this:

hello hello hello hello hello hello 
world world world world world world 
Aug Aug Aug Aug Aug Aug 
2021 2021 2021 2021 2021 2021

8. write a program that multiply the items of list_1 to the items of list_2 when the two items are not equal.
for example if the list_1 and list_2 were like this:
List_1 = [3, 9, 7]
List_2 = [2, 3, 9]

The output should be like this:

3 * 2 =  6
3 * 9 =  27
9 * 2 =  18
9 * 3 =  27
7 * 2 =  14
7 * 3 =  21
7 * 9 =  63

you should use these two lists for your assignments:
List_1 = [2, 5, 6, 7, 9]
List_2 = [2, 3, 5, 7, 6]